<?xml version="1.0"?>
<model>
  <name>scara_open_model</name>
  <version>1.0</version>
  <sdf version="1.8">scara_open_model.sdf</sdf>

  <author>
    <name>Jason Kuehne</name>
    <email>jkuehne@wpi.edu</email>
  </author>

  <description>
    SCARA robot model for RBE 500 project
  </description>
</model>